.side-drawer{
  height: 100%;
  background-color:black;
  box-shadow: 2px 1px 5px rgba(93, 68, 68, 0.5);
  width:70%;
  max-width: 400px;
  position:fixed;
  top:0;
  left:0;
  box-sizing:padding-box;
  z-index:12200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.side-drawer ul{
list-style: none;
display: flex;
flex-direction: column;
padding: 0;
}

.side-drawer.open{
  transform: translateX(0);
}
.side-drawer a{
  color: white;
}
.side-drawer li{
  height: 35px;
  text-align: center;
  width: 100%;
  border-bottom: 0.1px solid #323435;
  padding-top: 4px;
}
.side-drawer li:hover{
background-color: #4d5761;
}
